<?xml version="1.0"?>
<ruleset name="MIS PHPMD rule set"
         xmlns="http://pmd.sf.net/ruleset/1.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0
                     http://pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="
                     http://pmd.sf.net/ruleset_xml_schema.xsd">
    <description>
        Standard Project Ruleset
    </description>

    <rule ref="rulesets/unusedcode.xml" />
    <rule ref="rulesets/naming.xml">
        <exclude name="LongVariable" />
        <exclude name="LongClassName" />
    </rule>
    <rule ref="rulesets/cleancode.xml" />
    <rule ref="rulesets/controversial.xml" />
    <rule ref="rulesets/codesize.xml"/>
    <rule ref="rulesets/design.xml"/>

    <exclude-pattern>*var/**</exclude-pattern>
    <exclude-pattern>*vendor/**</exclude-pattern>
    <exclude-pattern>*tests/**</exclude-pattern>
    <exclude-pattern>*src/**/*Enum.php</exclude-pattern>
    <exclude-pattern>*src/DomainModel/Output/ExternalIssuesReport/GenericIssue.php</exclude-pattern> #Due to missing full PHP8 support
</ruleset>
